.app {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.barra {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  background-color: lightgrey;
}

.links {
  display: flex;
  gap: 40px;
}

.characters {
  display: flex;
  justify-content: center;
  font-size: 36px;
}

.input {
  font-size: 16px;
  height: 40px;
  width: 430px;
  border-radius: 10px;
  padding: 0px 15px;
}

.buscador {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.boton {
  width: 100px;
  color: white;
  font-size: 20px;
  background-color: rgb(14, 161, 229);
}

.contenedor {
  display: flex;
  justify-content: center;
  padding: 30px;
  gap: 20px;
}

.filtro {
  border: 1px solid black;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
